<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_application.name %>
</p>

<p>
  <strong>Resume:</strong>
  <%= simple_format(@job_application.resume) %>
</p>

<p>
  <strong>Cover letter:</strong>
  <%= simple_format(@job_application.cover_letter) %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_application.job.position %>
</p>

<%= link_to('Edit', edit_job_application_path(@job_application), :class => 'btn btn-default btn-md active', :role =>'button') %>
<%= link_to('Back', job_applications_path, :class => 'btn btn-default btn-md active', :role =>'button') %>
