<%= form_for @company, :html => {:multipart => true} do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@company.errors.count, "error") %>.
      </div>
      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if !@company.company_logo? %>
      <%= f.label 'Upload Company Logo:' %>
    <% end %>
    <%= f.file_field :company_logo %>
    <%= f.hidden_field :company_logo_cache %>
    <%= image_tag(@company.company_logo.default.to_s) %>
    <br />
    <% if @company.company_logo? %>
      <%= f.label 'Remove logo?' %>
      <%= f.check_box :remove_company_logo %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
