<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Current Job Openings</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= image_tag company.company_logo.thumb.to_s %></td>
        <td><%= company.name %></td>
        <td><%= company.jobs.size %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('Add a Company', new_company_path, :class => 'btn btn-primary btn-md active', :role =>"button") %>
<%= link_to('View Job Openings', jobs_path, :class => 'btn btn-default btn-md active', :role =>'button') %>
